* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  padding-top: 0;
  background: rgba(0, 0, 0, .06);
}

.wrapper-document {
  position: relative;
  padding-top: 5rem;
}

.document {
  width: 816px;
  height: 1056px;
  padding: 60px 80px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  background: white;
  outline: none;
  line-height: 1.7;
}

#btn-create {
  background: #F8F9FA;
  border: 1px solid #eee;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 41px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  color: #1A73E7;
  position: absolute;
  left: calc(100% - 20px);
  top: -50px;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out, transform .3s ease-in-out .3s, width .2s ease-in-out, padding .2s ease-in-out;
  padding-left: 7px;
  overflow: hidden;
  z-index: 1;
}

#btn-create:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, .14);
  width: 120px;
  padding-left: 10px;
}

#btn-create > span {
  padding: 0 10px;
  font-family: Outfit;
  line-height: 1;
  text-align: center;
  width: 100%;
}

span {
  border-radius: 4px;
}

.comments-container {
  width: 0px;
  transition: width .3s ease-in-out;
  padding-left: 20px;
  position: relative;
}

.card {
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  transition: .3s ease-in-out;
  cursor: pointer;
  position: absolute;
  min-width: 300px;
  animation: fade-in 2s cubic-bezier(0.075, 0.82, 0.165, 1) .3s backwards;
}

@keyframes fade-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card:hover {
  box-shadow: 0px 1px 3px 1px rgba(60, 64, 57, .15);
  border-color: transparent;
  z-index: 2;
  transform: translateX(-30px);
}

.card-userinfo {
  display: flex;
}

.card-userinfo__avatar {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  font-size: 14px;
  border: 2px solid #1A73E7;
  background: rgba(26, 115, 231, 0.1);
}

.card-userinfo__text-container {
  padding-left: 10px;
}

.card-userinfo__username {
  font-family: Outfit;
  font-weight: 400;
  line-height: 1;
}

.card-userinfo__time {
  font-size: 10px;
  font-family: Outfit;
  font-weight: 300;
}

.card-comment {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 14px;
}
